.container {
  display: grid;
  margin-left: 1%;
  margin-right: 1%;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-items: center;
  grid-gap: 0.3rem;
  margin-bottom: 2%;
}

.item {
  width: 100%;
  height: 270px;
  overflow: hidden;
  background: #000;
}

.gallery-image {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
}

.gallery-image:hover {
  opacity: 0.8;
  transform: scale(1.03);
}
.page-item {
  display: inline;
  margin-left: 1rem;
  font-size: large;
}
.pagination {
  margin-bottom: 10px;
}
.fancybox {
  overflow-x: hidden !important;
}

.page-item a {
  background-image: linear-gradient(
    to right,
    rgb(95, 0, 0),
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.page-item a:before {
  content: "";
  background: rgb(95, 0, 0);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.page-item a:hover {
  background-position: 0;
}

.page-item a:hover::before {
  width: 100%;
}
.div-no-images p {
  margin: 0 auto;
}
.btn-back-to-top{
    width: 10em;
    height: 3em;
    margin: 5px auto;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid black;
    color: black;
    background-color: unset;
    padding: 2px;
}
.btn-back-to-top:hover{
    color: white;
    background-color: black;
    transition: all 0.3s ease-in-out;

}
.div-back-to-the-top {
  text-align: center;
  margin-bottom: 10px;
}
