*{
  --dark-background: #222222;

  --text-color: #9d7b60;
  --secondary: rgb(95,50,0);
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;

   
  
}

a{
  color: unset;
  text-decoration: none;
}
@media screen and (max-width: 700px){
  #root{
    overflow: hidden;
    }

}



@media screen and (max-width: 550px){

}
body{
  overflow-x: hidden;
}


.dark{
  background:var(--dark-background);
  color:var(--text-color);
}
.dark .main-info{
  background-image: linear-gradient(
    to bottom,
    var(--text-color) 20%,
    #000 100%
  );
  padding-bottom: 5rem !important;
}
.dark .main-info .txt{
 color:black;
}
.dark .services-img
{
  background-color:var(--dark-background) ;
}
.dark .grid-2{
  background-color: var(--dark-background) ;
  color:var(--text-color);
}
.dark .nav__link{
  background-image: linear-gradient(
    to bottom,
    var(--text-color) 10%,
    rgb(21, 21, 21) 100%
  );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;

}
.dark .active  {
  border-bottom: 3px solid  var(--text-color);;
}
.dark .nav__link:before {
  background: var(--text-color);

}
.dark .b-drvolex{
  color: var(--secondary);
}
.dark button{
  border: 2px solid var(--text-color);
  background-color: var(--secondary);
  color:var(--text-color) !important;
}

.dark button a{
color:var(--text-color) !important;
} 
.dark button:hover{
background-color: var(--text-color) !important;
}
.dark button:hover a{
color: var(--dark-background) !important;
}
.dark .btn-more:hover{
  color: black !important;
}






.dark   .vision-grid-right p{ 
  border: 1px solid var(--text-color);
  color: var(--secondary);
}
.dark .vision-grid-left hr{
  color: var(--text-color) !important;
  border-top: 1px solid var(--text-color)
}
.dark .about-img-text b{
  background-image: linear-gradient(
    to bottom,
    var(--text-color) 40%,
    rgb(21, 21, 21) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}




.dark .machinery-header h1{
  background-image: linear-gradient(
    to bottom,
    var(--text-color) 10%,
    var(--secondary) 100%
  );
  border-bottom: 2px solid var(--secondary);
  margin: 0 20%;
}
.dark .machinery-header h3, .dark .nav-link-d{
  background-image: linear-gradient(
    to bottom,
    var(--text-color) 30%,
    var(--secondary) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.dark .machinery-header hr{
 visibility: hidden;
}
.dark .machinery-header h3{
  margin-top:1rem
}
.dark .divider{
  border-top: 1px solid var(--secondary);
} 

.dark .icon, .dark .icon-tel, .dark .icon-mail{
color: var(--text-color)
}
.dark .contact-text p{
color: var(--text-color)
}

.dark .send-mail-btn{
  background-color: unset;
}

.dark .send-mail-btn:hover a{
  color:black
}
.dark .slide-left .btn:hover{
  color:black !important
}
.dark .items{
  background-color: var(--dark-background);
}




